@model BroadcastSystem.Models.Message

@{
    ViewBag.Title = "Create";
}

<h2>Create New Message</h2><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script>
        // Remove the warpper that contain the preview div
        $(document).on('click', '.broadcast .closebtn', function (e) {
            $(this).parent().remove();
        });

        $(document).ready(function () {
            // When clicked preview button, append the preview to the view page
            $("#preview").click(function (e) {
                e.preventDefault();
                var titleText = $("#Title").val();
                var contentText = $("#Content").data("kendoEditor").value();
                // Validate manually before preview
                if (titleText == "") {
                    $("#Title").focus();
                    $("#Title").next().text("This field is required.");
                } else if (contentText == "") {
                    $('#Content').data('kendoEditor').body.focus();
                    $("#Content").parent().parent().parent().parent().next().text("This field is required.");
                } else {
                    $("#previewBox").html(
                        '<div class="broadcast">' +
                        '<div class="trapezoid"></div>' +
                        '<div class="newtxt">NEW*</div>' +
                        '<button type="button" class="closebtn">Close X</button>' +
                        '<div class="container">' +
                        '<div class="title">' + titleText + '</div>' +
                        '<div class="content">' + contentText + '</div>' +
                        '<div class="readmore"><a href="#">Read more</a></div>' +
                        '</div></div>'
                    );

                    $("#previewBox .readmore").click(function () {
                        $("#previewWindow").html(contentText);
                        $("#previewWindow").kendoWindow({
                            width: $("body").width() * 0.7 + "px",
                            title: titleText,
                            visible: false,
                            actions: [
                                "Close"
                            ],
                        }).data("kendoWindow").center().open();
                    });

                    $('html,body').animate({
                        scrollTop: $("#previewBox").offset().top - 132
                    }, 500);
                    return false;
                }
            });

            // Remove error warning if validated
            $("#Title").blur(function () {
                if ($("#Title").val() == "") {
                    $(this).next().text("This field is required.");
                } else {
                    $(this).next().text("");
                }
            });

            $("#Content").data('kendoEditor').bind("change", function () {
                if ($("#Content").data("kendoEditor").value() == "") {
                    $("#Content").parent().parent().parent().parent().next().text("This field is required.");
                } else {
                    $("#Content").parent().parent().parent().parent().next().text("");
                }
            });
        });
    </script>

    <div id="previewBox"></div>
    <div id="previewWindow"></div>
    @*<div class="broadcast">
            <div class="trapezoid"></div>
            <div class="newtxt">NEW*</div>
            <button type="button" class="closebtn">Close X</button>
            <div class="container">
                <div class="title"></div>
                <div class="content"></div>
                <div class="readmore"><a href="#">Read more</a></div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Title" class="k-textbox" name="Title" style="max-width: 100%; width: 100%;" />
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="Content" rows="10" cols="30" style="height:440px" name="Content"></textarea>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input id="start" class="datetimepicker" name="From" style="width: 100%;" />
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input id="end" class="datetimepicker" name="To" style="width: 100%;" />
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Messages" class="btn btn-default" style="width: 150px;">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
                </a>
                <button id="preview" class="btn btn-primary" style="width: 150px;">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview
                </button>
                <button type="submit" name="Create" class="btn btn-success" style="width: 150px;">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Create
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}